.logo__cursor {
    background: #3264a0; /* Blue blinking cursor */
}

body.dark-theme {
  --header: #202020;     /* Darker background color for the header */
  
  --background: #161616; /* Darker background color for the main content */
  --color: #dcdcdc;      /* Brighter text color */
}

.post {
  max-width: 1000px; /* Instead of the original 800px */
}

.footer .copyright {
  font-size: 80%; /* Minimize the footer copyright text */
}