.logo__cursor {
    background: #3264a0; /* Blue blinking cursor */
}

/* Darker background shades than the original theme */
body.dark-theme {
  --header: #202020;     /* Background color for the header */
  --background: #161616; /* Background color for the main content */
}

.post {
  max-width: 1000px; /* Instead of the original 800px */
}

.footer .copyright {
  font-size: 80%; /* Minimize the footer copyright text */
}