/* All the styling in this file is related to the "hello-friend" theme */

.logo__cursor {
    background: #3264a0; /* Blue blinking cursor */
}

body.dark-theme {
  --header: #202020;     /* Darker background color for the header */
  
  --background: #161616; /* Darker background color for the main content */
  --color: #dcdcdc;      /* Brighter text color */
}

.post-cover {
  margin-left: 0px;
  max-width:1000px;
  width:100%;
}

.post {
  max-width: 1000px; /* Instead of the original 800px */
}

/* Transparent images need a dark background so they are readable even in bright  mode */
img {
  background-color: #161616; /* Same value as the dark theme background */
}

.footer .copyright {
  font-size: 80%; /* Minimize the footer copyright text */
}